$red: red;
$green: green;


// ### Primary

$aqua: hsl(179, 62%, 43%);
$lime: hsl(71, 73%, 54%);

// ### Neutral

$gray: hsl(204, 43%, 93%);
$silver: hsl(218, 22%, 67%);

// ## Typography

$Body: 16px;

// ## Box Shadow

$BoxShadow: 1px 10px 5px 0px rgba(0,0,0,0.15);