.cta {
    background: white;
    padding: 2em;
    border: 2px solid white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    &__heading {
        color: $aqua;
    }
    &__subheading {
        color: $lime;
    }
    p {
        color: $silver;
    }
}